/* https://colorhunt.co/palette/201897 */
:root {
  --color: #243746;
  --background: url('~assets/svg/icon-hashtag-light.svg');
  --color-primary: #ee6f57;
  --color-secondary: #0e2233;
  --bg: #f6f5f5;
  --bg-secondary: #fff;
  --border-color: #ddd;
}
/* https://colorhunt.co/palette/201882 */
.dark-mode {
  --color: #f6f5f5;
  --color-primary: #e94560;
  --color-secondary: #fdf9f3;
  --bg: #1a1a2e;
  --bg-secondary: #071521;
  --border-color: #0d2538;
  --background: url('~assets/svg/icon-hashtag-dark.svg');
}
.sepia-mode {
  --color: #433422;
  --color-secondary: #504231;
  --bg: #f1e7d0;
  --bg-secondary: #eae0c9;
  --border-color: #ded0bf;
}

body {
  background-color: var(--bg);
  color: var(--color);
  transition: background-color 0.3s;
}
[isEditing] {
  color: var(--color) !important;
}
textarea {
  color: #243746 !important;
}
